.suggestions-container {
    max-width: 600px; /* Adjust the width as needed */
    border: 1px solid #ccc;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
}

/* Style the individual suggestion items */
.suggestion {
    margin: 5px 0;
}

    /* Style the anchor tags */
    .suggestion a {
        text-decoration: none;
        color: #333;
        font-weight: bold;
    }

        /* Hover effect for anchor tags */
        .suggestion a:hover {
            color: #007bff; /* Change the color on hover */
        }

.search-box {
    width: fit-content;
    height: fit-content;
    position: relative;
}

.input-search {
    height: 50px;
    width: 50px;
    border-style: none;
    padding: 10px;
    font-size: 18px;
    letter-spacing: 2px;
    outline: none;
    border-radius: 25px;
    transition: all .5s ease-in-out;
    background-color: var(--alice-blue);
    padding-right: 40px;
    color: #fff;
}

    .input-search::placeholder {
        color: rgba(255,255,255,.5);
        font-size: 18px;
        letter-spacing: 2px;
        font-weight: 100;
    }

.btn-search {
    width: 50px;
    height: 50px;
    border-style: none;
    font-size: 20px;
    font-weight: bold;
    outline: none;
    cursor: pointer;
    border-radius: 50%;
    position: absolute;
    right: 0px;
    background-color: transparent;
    pointer-events: painted;
    color: #b08968;
}

    .btn-search:focus ~ .input-search {
        width: 300px;
        border-radius: 0px;
        background-color: #111111;
        border-bottom: 1px solid rgba(255,255,255,.5);
        color: #b08968;
        transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
    }
    .btn-search:focus {
        color: #b08968 !important;
    }

.input-search:focus {
    width: 300px;
    border-radius: 0px;
    background-color: #111111;
    border-bottom: 1px solid rgba(255,255,255,.5);
    transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
}
