@using Microsoft.AspNetCore.Identity
@inject SignInManager<UserInterface> SignInManager

@if (SignInManager.IsSignedIn(User))
{
    <div class="p-1 text-light d-flex flex-column flex-md-row align-items-center ">
        <span>Welcome @User.Identity.Name!</span>
        <a class="btn btn-primary btn-sm text-decoration-none ms-lg-3  mt-2 mt-lg-0" asp-area="" asp-controller="User" asp-action="Logout">Logout</a>
    </div>
}
else
{
    <div class="d-inline-flex ">
        <a class="btn btn-outline-primary ms-0 me-2 text-decoration-none" href="/user/login">Login</a>
        <a class="btn btn-light text-decoration-none ms-lg-3" href="/user/register">Register</a>
    </div>
}