@model E_Commerce_App.Models.Department

@{
    ViewData["Title"] = "AddDepartment";
}

<h1 class="text-light">AddDepartment</h1>
<div class="d-flex justify-content-between text-light">
    <h4>Department</h4>
    <a asp-action="Departments" class="btn btn-danger px-4" asp-route-categoryId="@Model.CategoryID"> &laquo Back to List</a>

</div>

<hr />
<div class="row justify-content-center">
    <div class="col-md-4">
        <form asp-action="AddDepartment" enctype="multipart/form-data" class="text-light"> 
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            @* <div class="form-group">
                <label asp-for="CategoryID" class="control-label"></label>
                <input asp-for="CategoryID" class ="form-control" />
            </div> *@
                <div class="mb-3">
                    <label for="formFile" class="form-label">Default file input example</label>
                    <input class="form-control" type="file" id="formFile" name="file" accept=".png,.jpg">
                </div>
             <div class="form-group">
                <label asp-for="CategoryID" class="control-label"></label>
                <select asp-for="CategoryID" class="form-control" asp-items="ViewBag.Category">
                    <option selected>Please Select A Department</option>
                </select>
            </div>
            <div class="form-group"> 
                <input type="submit" value="Create" class="btn btn-primary m-2 p-1" />
            </div>
        </form>
    </div>
</div>




@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
