@model IEnumerable<Department>
@{
    <div class="text-center">
    <h1> Departments  </h1>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {


                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        <a asp-action="DepartmentDetails" asp-route-departmentId="@item.ID" asp-route-categoryId="@item.CategoryID">Details</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
