@model E_Commerce_App.Models.DTO.RegisterUserDTO


<form class="form-inline position-absolute top-50 start-50 translate-middle text-white" asp-action="Register" id="registerFormId" method="post">

        <div class="form-group">
            <label class="sr-only" for="UserName">Username:</label>
            <input type="text" asp-for="UserName" class="form-control" placeholder="Username">
            <div class="mt-2">
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <label class="sr-only" for="Email">Email:</label>
            <input type="text" asp-for="Email" class="form-control" placeholder="example@email.com">
            <div class="mt-2">
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <label class="sr-only" for="Password">Password:</label>
            <input type="password" asp-for="Password" class="form-control" placeholder="***********">
            <div class="mt-2">
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <label class="sr-only" for="PhoneNumber">Phone number:</label>
            <input type="text" asp-for="PhoneNumber" class="form-control" placeholder="009620000000">
            <div class="mt-2">
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <label class="sr-only">Roles:</label>
            <input type="checkbox" name="Roles" value="Admin"> Admin
            <input type="checkbox" name="Roles" value="User"> User
            <!-- Add more roles as needed -->
        </div>

        <button type="submit" class="btn btn-primary">Sign up</button>
    </form>



<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.13/jquery.validate.unobtrusive.min.js"></script>
