@model E_Commerce_App.Models.DTO.UserDTO

@{
    ViewData["Title"] = "Welcome Page";
}

<h1>Welcome, @Model.UserName!</h1>
<h1> 
    @Model.Roles.FirstOrDefault()
    </h1>




<a asp-action="Logout" asp-controller="User">Logout</a>
