@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
   
   <div class="d-flex flex-column justify-content-center mx-auto align-items-center min-vh-100 bg-dark">
        <div class="search-box">
            <button class="btn-search"><i class="fas fa-search"></i></button>
            <input type="text" class="input-search" placeholder="Type to Search..." onkeyup="showHint(this.value)" />
        </div>
        
        <div id="textHint" class="d-flex flex-column my-4">
        </div>

   </div>

    
}
